body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 20px 0;
}

.input-container {
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(5em, 1fr));
    grid-gap: 10px;
    max-width: 100%; /* Adjust to 100% to fit within the screen */
    overflow: auto; /* Add horizontal scroll if necessary */
}

.box {
    width: 100%;
    min-width: 5em;
    height: 5em;
    color: #000;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #efefe6;
    transition: background-color 0.5s;
}

.box.selected {
    background-color: #f39c12;
}

