body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 20px 0; /* Add margin at the top and bottom */
}

.input-container {
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(160px, 1fr)); /* Adjust width for a more rectangular shape */
    grid-gap: 10px;
    max-width: 400px;
}

/* Style the grid boxes with rounded corners and uppercase text */
.box {
    width: 100%;
    min-width: 120px;
    height: 80px; /* Adjust height for a more rectangular shape */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px; /* Add rounded corners */
    text-transform: uppercase; /* Make the text uppercase */
    background-color: green;
}
